<h1>Locations</h1>
<%= link_to "Create a new Location", new_venues_path %>

<% @venues.each do |v| %>
    <div class="card">
        <div class="card-block">
            <div class="card-title">
                <%= v.name %>
            </div>
            <div class="card-subtitle">
                <%= v.full_address %>
            </div>
        </div>
    </div>
<% end %>